# This is a basic workflow to help you get started with Actions
name: addS3BucketAWS
# Controls when the action will run. 
on:
# Triggers the workflow on push or pull request events but only for the main branch
# push:
#  branches: [ main ]
# Allows you to run this workflow manually from the Actions tab 
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
# This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Upload to S3
      run: |
        aws s3 mb s3://$UNIQUE_BUCKET_NAME
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'eu-west-1'